html, body, #root {
  height 100%;
  margin: 0;
}

body {
  background: linear-gradient(145deg, rgba(4, 55, 242, 1) 17%, rgba(255, 121, 0, 1) 53%, rgba(4, 55, 242, 1) 90%);
  background-attachment: fixed;
  font-family: Arial, sans-serif;
}