.lottery-card-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 350px;
    padding: 20px;
    border: 3px #131e3a solid;
    outline: 8px #131e3a ridge;
    outline-offset: 4px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    background-color: #fce205; 
    border-radius: 8px;
}

.lotto-title {
    color: #131e3a;
    font-size: 2.5rem;
    margin-top: 0;
    margin-bottom: 0;
}

.lotto-title-link {
    text-decoration: none;
    color: inherit;
}

.lotto-title-link:hover .lotto-title {
    color: #b3ebf2;
}

.latest-draw-date {
    font-size: 1.3rem;
}

.balls-row {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 8px;
}

.regular-balls {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.balls-bonus {
    display: flex;
    flex-directioin: row;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-top: 25px;
}

.balls-bonus-p {
    margin-right: 20px;
}

.ball {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 34px;
    height: 34px; 
    margin: 4px;
    border: 1px solid black;
    border-radius: 50%;
    font-size: 14px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    transition: transform 0.2s ease;
}

.white-ball {
    background: white;
    border: 2px solid #333;
    color: #333;
    font-size: 1.3rem;
    margin-bottom: 0;
}

.bonus-ball {
    color: #131e3a;
    font-size: 1.3rem;
    margin-bottom: 0;
}

