.past-results-container {
    width: 65%;
    margin-top: 20px;
    margin-bottom: 50px;
    padding: 25px;
    border-radius: 5x;
}

.page-title {
    font-size: 2rem;
    margin: 25px auto;
}

.results-scroll {
    max-height: 423px;
    overflow-y: auto;
    border: 1px solid #000;
    background-color: rgba(137, 148, 153, 0.5);
    color: #fdf5e6;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.results-grid {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr 1fr;
    gap: 10px;
    padding: 10px;
    align-items: center;
}

.results-grid.header {
    font-weight: bold;
    border-bottom: 2px solid #111;
    margin-bottom: 10px;
    align-items: center;
    font-size: 1.6rem;
    color: #fff;
    background-color: #111;
}

.results-grid.row {
    border-bottom: 1px solid #111;
    padding: 8px 0;
}

.cell {
    text-align: center;
    font-size: 1.3rem;
}

.numbers {
    letter-spacing: 1px;
}