.drawing-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.drawing-title {
    margin-top: 150px;
    font-size: 3.5rem;
}

.draw-date-latest {
    font-size: 1.5rem;
}

.draw-numbers-latest-title {
    font-size: 1.5rem;
}

.draw-numbers-latest {
    font-size: 5rem;
}