nav {
    display: flex;
    padding-left: 75px;
    padding-right: 75px;
}

.select {
    border: 1px dashed red;
    height: 40px; 
    margin-left: auto;
    margin-top: auto;
    margin-bottom: auto;
    width: 150px;
}

.dropdown option {
    font-size: 18px;
}